.settings-container {
  border-radius: 15px;
  background-color: rgba(230,230,230,0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  overflow: hidden;
  transition: width 0.5s ease, height 0.5s ease;
  padding: 10px;
  /* height: 60px; */
}
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-title {
  font-size: 28px;
  margin-left: 10px;
}
.settings-icon {
  cursor: pointer;
  height: 40px;
  transition: transform 0.5s ease;
}
.rotated {
  transform: rotate(-315deg);
}
hr {
  margin-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 60px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.viewport-button-light {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ccc;
}
.viewport-button-light:hover {
  background-color: #bbb;
}
.viewport-button-dark {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #777;
}
.viewport-button-dark:hover {
  background-color: #888;
}
.range-input:focus {
  outline-color: var(--focus-color) !important;
}